MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

ZAPIER_WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/YOUR_HOOK_ID/

SMTP_USER=tu-email@gmail.com
SMTP_PASS=app-password-16-caracteres

API_KEY=tu-api-key-secreto-aqui